body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.header {
    background-color: #038928;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    max-width: 200px;
}

.confirmation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 60px;
    text-align: center;
}

.confirmation-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.confirmation-container p {
    font-size: 18px;
    color: #333;
}
